In [1]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim library
from modsim import *

In [5]:
meter = UNITS.meter
second = UNITS.second

In [11]:
a = 9.8 *  meter / second**2

9.8 <Unit('meter / second ** 2')>

In [12]:
t = 4 * second

4 <Unit('second')>

In [13]:
a * t**2/2

78.4 <Unit('meter')>

In [14]:
h = 381 * meter

381 <Unit('meter')>

In [15]:
t = sqrt(2*h/a)

8.817885349720552 <Unit('second')>

In [16]:
v = a * t

86.41527642726142 <Unit('meter / second')>

In [18]:
mile = UNITS.mile
hour = UNITS.hour

In [19]:
v.to(mile/hour)

193.30546802805438 <Unit('mile / hour')>

## Bikeshare

In [2]:
from modsim import *

In [3]:
bikeshare = State(olin = 10, wellesley = 2)

In [4]:
bikeshare.olin

10

In [5]:
bikeshare.wellesley

2

In [6]:
bikeshare

olin         10
wellesley     2
dtype: int64

In [7]:
def bike_to_wellesley ():
    bikeshare.olin -= 1
    bikeshare.wellesley += 1

In [8]:
bike_to_wellesley()

In [9]:
bikeshare

olin         9
wellesley    3
dtype: int64

In [11]:
def bike_to_olin():
    bikeshare.olin += 1
    bikeshare.wellesley -= 1

In [12]:
bike_to_olin()

In [13]:
bikeshare

olin         10
wellesley     2
dtype: int64

In [14]:
print(bikeshare.olin, bikeshare.wellesley)

10 2

In [17]:
def bike_to_wellesley ():
    print('Moving a bike to Wellesley')
    bikeshare.olin -= 1
    bikeshare.wellesley += 1

In [18]:
bike_to_wellesley()

Moving a bike to Wellesley

In [27]:
flip(.7)

True

In [47]:
if flip(.5):
    print('Heads')
else:
    print('Tails')

Heads